<h1> Form to make a cat </h1>
<form action="<%=cats_url%>" method="POST">
    <label>Name:
        <input type="text" name="cat[name]" value="" />
    </label>
    <br>
    <label>Sex:
        <input type="text" name="cat[sex]" value="">
    </label>
    <br>
    <label>Birthday:
        <input type="date" name="cat[birth_date]" value="">
    </label>
    <br>
    <label>Description:
        <input type="text_area" name="cat[description]" value="">
    </label>
    <br>
    <label>Color:
        <select name="cat[color]">
        <option disabled selected>-- PleaseSelect --</option>
        <option value="black">black</option>
        <option value="blue">blue</option>
        <option value="brown">brown</option>
        </select>
    </label>
    <br>
    <label>Sex:
    <form action="/action_page.php">
      <p>Please select gender:</p>
      <input type="radio" id="male" name="gender" value="M">
      <label for="male">Male</label><br>
      <input type="radio" id="female" name="gender" value="F">
      <label for="female">Female</label><br>
    </label>

    <input type="submit" value="Create cat">
</form>
<%# 
<!DOCTYPE html>
<html>
<body>

<h1>Display Radio Buttons</h1>

<form action="/action_page.php">
  <p>Please select your gender:</p>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label>

  <br>  

  <p>Please select your age:</p>
  <input type="radio" id="age1" name="age" value="30">
  <label for="age1">0 - 30</label><br>
  <input type="radio" id="age2" name="age" value="60">
  <label for="age2">31 - 60</label><br>  
  <input type="radio" id="age3" name="age" value="100">
  <label for="age3">61 - 100</label><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html> %>
