<h1>Form to create a user</h1>

<form action="<%=users_url%>" method="POST">


    <label>Username:
        <input type="text" name="user[user_name]" value="" />
    </label>
    <br>
    <label>Password: 
        <input type="password" name="user[password]" value="">
    </label>
    <input type="submit" value="Create User">
</form>

