<section class="masthead">
  <div class="container language-nav">
    <ul>
      <li>CSS</li>
      <li>HTML</li>
      <li>Javascript</li>
      <li>Ruby</li>
    </ul>
  </div>
  <div class="title container">
    <figure>
      <img src="assets/AA_Times_Logo.png" />
    </figure>
  </div>
  <div class="container masthead-links">
    <ul>
      <li><%= @today %></li>
      <li>Today's paper</li>
      <li class="video">Video</li>
      <li>Weather today
      </li>
      <li>AAO</li>
    </ul>
  </div>
</section>